.page11-login {
  /* border:1px solid black; */
  position: relative;
  width: 93%;
  height: 74px;
 top: 150px;
  left: 7%;
  line-height: 33px;
  /* display: flex; */
  align-items: center;

  color: #292d32;
}
.login {
  font-family: 'Avenir_Next';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  /* margin-bottom: 25px; */
}
.page11-phone {
  font-family: 'Avenir_Next';
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;
  margin-top: 20px;
}


.input_p11 {
  position:relative;
  width: 363px;
  height: 55px;
  margin-left: 24px;
  top: 200px;
  border: none;
  background: rgba(1, 1, 1, 0.06);
  border-radius: 6px;
  color: black;
}
.input_p1 {
  position:relative;
  width: 363px;
  height: 55px;
  margin-left: 24px;
  top: 200px;
  border: none;
  background: rgba(1, 1, 1, 0.06);
  border-radius: 6px;
  color: black;
}
.but_p11 {
  position: relative;
  width: 325px;
  height: 51px;
  left: 43px;
  top: 210px;
  border: none;
  background: #ffffff;
  border: 0.1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;

  /* position: static; */
}

.but_p11:hover {
  background-color: #41c8b7;
}
.grid-container {
  width: 360px;
  height: 206px;
  position: relative;
  margin: auto;
  left: 0%;
  right: 0%;
  top: 240px;
  background: #e9eaee;
  display: none;

  grid-template-columns: 24% 24% 24% 24%;
  grid-gap: 5px;
  /* background-color: #2196F3; */
  padding: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.input_p11[type="number"]
{
    font-size:20px;
}
.input_p1[type="text"]
{
    font-size:20px;
}
.but_p11f {
  position: relative;
  width: 325px;
  height: 51px;
  left: 43px;
  top: 210px;
  border: none;
  background: #41c8b7;
  border: 0.1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  line-height: 51px;
  
  /* position: static; */
}