#categoryDiv{
    position: relative;
left: 0%;
right: 0%;
top: 10.45%;
bottom: 84.2%;

/* COLOUR BASE-1 */

background: #FFFFFF;
text-align: center;
border-radius: 6px;


/* #292D32 */
padding: 3px;
color: #292D32;


font-family: 'Avenir_Next';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}


#selectCategory{
    position: relative;
    
    top: 117px;
    font-family: 'Avenir_Next';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    
    text-align: center;
    
    color: #292D32;
line-height: 25px;

}

#priceDiv{
    display: flex;
    width: 90%;
    margin: 5px auto;
   flex-direction: column;
    position: relative;
    top:150px;
    
}

#priceDiv>div:hover{
    background-color: #8DDED4;
}


#priceDiv >div{
    width: 100%;
   
    text-align: center;
    height: 55px;
    margin:5px auto;
    background: #FFFFFF;
    padding: 15px 0px;
    display: flex;
    border: 2px solid #E9EEF2;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.ton{
    position: relative;
    left: 95px;
    font-family: 'Avenir_Next';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

color: #292D32;
}

.tonPrice{
    position: relative;
    left: 130px;
    font-family: 'Avenir_Next';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;


color: #292D32;
}

.imgupload{
    width: 90%;
    margin: 10px auto;
    background-color: white;
    position: relative;
    top: 170px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;


    font-family: 'Avenir_Next';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;
}

.select{
    width: 90%;
    margin: 10px auto;
    background-color: white;
    position: relative;
    top: 190px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;


    font-family: 'Avenir_Next';
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #000000;

}

.select:hover{
    background-color: #8DDED4;
}