#top_bar{
    margin-top: 0px;
    height: 81px;
    background: #41C8B7;
    border-radius: 0px 0px 20px 20px;
    
}


#city_name{
    position: relative;
    top: 25px;
    left: 25px;
    width: 80px;
    display: flex;
    flex-direction: column;
 
}

#cityname_label{
    font-family: "Avenir_Next";
    font-size: 14;
    margin-bottom: 3px;
    line-height:19.12px;
    font-weight: 500;
}
#city_select{
    font-family: "Avenir_Next";
    font-size: 18;
    line-height:24.59px;
    background-color: #41C8B7;
    border: none;
    font-weight: 600;
    width: 100px;
    
}

#img_div{
    position: relative;
    top: -7px;
    left: 320px;
}
#trans_img{
    width: 8%;
}



#inp_div{
    position: relative;
    width: 363px;
    height: 44px;
    margin-left: 24px;
    margin-top: 26px;
    
    background: #FFFFFF;
   
    border: 2px solid #E9EEF2;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
}


#search_btn{
   background-color: #FFFFFF;
   height: 100%;
   width: 13%;
   border: none;
}
#search_img{
   width: 80%;
   margin-left: 0px;
}

#search_inp{
 width: 87%;
 height: 100%;
 border: none;
 outline: none;
 font-size: 18px;
}


#first_row{
    width: 363px;
    margin: 40px 24px 30px 24px;
    display: grid;
    grid-template-columns: 172px 172px;
    grid-template-rows: 192px;
    grid-gap: 20px;
}

#second_row{
    width: 363px;
    margin: 0px 24px 30px 24px;
    display: grid;
    grid-template-columns: 172px 172px;
    grid-template-rows: 192px;
    grid-gap: 20px;
}

#third_row{
    width: 363px;
    margin: 0px 24px 40px 24px;
    display: grid;
    grid-template-columns: 172px 172px;
    grid-template-rows: 44px;
    grid-gap: 20px;
}

.waste_div{
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.waste_img{
    width: 96px;
    height: 96px;
}







#bottom_bar{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
text-align: center;
position: absolute;
width: 411px;
height: 68px;

bottom: 0px;

background: #41C8B7;
border-radius: 10px 10px 0px 0px;
}


.bottom_img{
width: 24px;
height: 24px;
margin-bottom: -15px;
}

.bottom_p{
font-family: "Avenir_Next";
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
}
  