<<<<<<< HEAD
.img_div { 
margin: 32px 24px 0px 24px;
}
.img_div > img { 
  width: 363px;
  height: 286px; 

}

#heading_date {
  width: 331px;
  height: 66px;
  margin: 32px 56px 0px 24px;

  font-family: "Avenir_Next";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #292D32;
}

#para_div{
  width: 331px;
  height: 50px;
  margin: 55px 56px 0px 24px;

  font-family: "Avenir_Next";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

=======
.img{
  position: relative;
  width: 363px;
height: 286px;
left: 24px;
top: 32px;
}

.img img{
  max-width: 100%;
}

.headerp5 h1{
  position: relative;
width: 331px;
left: 24px;
top: 60px;
text-align: left;
font-family:'Avenir_Next';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;

color: #292D32;

}

.headerp5 p{
  position: relative;
  top: 120px;
  left: 24px;
  text-decoration: none;
  width: 332px;
  font-family: 'Avenir_Next';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;


color: #292D32;

}
>>>>>>> 5f47eb4099ea75cd6d7ccdb52e6d52321541ea77
