.header{
    width: 100vw;
    height: 100vh;
}


#container{
    width: 33%;
    margin: auto;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
}

#container > div{
  
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
  
}

#container img{
    max-width: 100%;
    margin-top: 15px;
}

#heading p{
    
color: black;
font-family: Crimson Text;
font-style: normal;
font-weight: normal;
font-size: 40px;
text-align: center;
margin: 2px;

}

#para p{
    color: #292D32;
    position: relative;
    text-align: center;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    #container{
        width: 100%;
       
    }
  }

  
  