.container_mainp5 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.Container_p5 {
  /* position: relative; */
  width: 411px;
  height: 823px;
  background: #eaf1f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  display: flex;
  justify-content: center;
}
.img > img {
  /* position: absolute; */
  width: 363px;
  height: 286px;
  /* left: 24px; */
  margin-top: 32px;
}
.headerp5 {
  /* position: absolute; */
  width: 331px;
  height: 66px;
  left: 0px;
  margin-top: 32px;
  /* background-color: aquamarine; */
}
.headerp5 > h1 {
  font-family: 'Avenir_Next';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: #292d32;
}
.headerp5 > p {
  margin-top: 55px;
  font-family: 'Avenir_Next';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;

  color: #292d32;
}
.roller {
  position: absolute;
  top: 678px;
  width: 43px;
  height: 10px;
  display: flex;
  /* background-color: aquamarine; */
  justify-content: space-between;
}
.roller > div {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #c4c4c4;
}
.roller > div:nth-child(2) {
 background-color: #41C8B7;;
}
