#language {
  position: relative;
  width: 171px;
  height: 22px;
  color: #292d32;
}
.front {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.front > h1 {
  text-align: center;
  font-family: 'Avenir_Next';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  top: 250px;
  left: 100px;
}


.lang_btn {
  position: relative;
  width: 363px;
  height: 60px;
  left: 24px;
  top: 282px;
  font-family: 'Avenir_Next';

  background: #ffffff;
  border: 0.1px solid #cacaca;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
  margin-top: 20px;
  font-size: 24px;
  transition-duration: 0.4s;
}
.lang_btn:hover {
  background-color: #41c8b7;
}
