#upi{position: relative;
    top: 100px;
    left: 30px;
    
    font-family:' Avenir_Next';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;

/* #292D32 */

color: #292D32;

}

#add{


background: #FFFFFF;
/* COLOUR divider */

border: 2px solid #E9EEF2;
box-sizing: border-box;
border-radius: 6px;
}

input{
    margin: 10px auto;
    padding: 20px;
}

#upisubmit{
    position: relative;
    width: 171px;
height: 51px;
background-color: white;
border-radius: 6px;
top: 300px;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Avenir_Next';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
box-shadow: 0px 4px 44px -6px rgba(24, 39, 75, 0.09), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
border-radius: 6px;
color: black;
}

#upisubmit:hover{
    background-color: #8DDED4;
}